{
  "extends": [ "airbnb" ],
  "plugins": [ "jest" ],
  "env": {
    "jest": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "no-confusing-arrow": "off"
  }
}
