{
  "parser": "babel-eslint",
  "extends": [ "airbnb" ],
  "plugins": [ "jest", "react" ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "jest": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "no-confusing-arrow": "off",
    "implicit-arrow-linebreak": "off",
    "object-curly-newline": "off",
    "arrow-parens": ["error", "always"],
    "react/jsx-closing-bracket-location": "off",
    "import/prefer-default-export": "off"
  }
}
